.fas{
  font-size: 2rem;
  color: $very-gray;
}
.far{
  font-size: 2rem;
  color: $very-gray;
}
//dark theme
.body-dark{
  background-color: $very-dark;
  color:$light-blue;
}
.dark{
  background-color: $very-dark;
  color:$light-blue;
}
.dark-b{
    background-color: $very-dark;
    color:$light-blue;
}
.dark-input{
  background-color: $very-dark-des;
  color: $light-blue;
}
.dark-c{
  border: 1px solid $light-blue;
}
.todo-d{
  background-image: url('/images/bg-desktop-dark.jpg');
}